{% load comments %}
{% load threadedcomments_tags %}
{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load avatar_tags %}

{% get_comment_list for object as responses %}
{% autopaginate responses %}

<ul class="responses">
    {% for response in responses %}
        <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
            <div class="meta">
                <div class="avatar">{% avatar response.user 40 %}</div>
                <div class="details"><a href="{% url profile_detail response.user.username %}">{{ response.user }}</a></div>
                {{ response.date_submitted|date }}
            </div>
            <div class="bulk">
                <div class="body">{{ response.comment|urlize|linebreaks }}</div>
                {% get_comment_form for object as form with response.pk %}
                <a href="javascript:toggle_comment_form({{ response.id }})">{% trans "Reply to This Post" %}</a>
                <form class="hidden uniForm" method="POST" action="{% comment_form_target %}" id="comment_form_{{ response.id }}">
                    <fieldset class="inlineLabels">
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        {{ form.parent }}
                        <div class="ctrlHolder">
                            <label for="id_comment">* {% trans "Comment" %}</label>
                            {{ form.comment }}
                        </div>
                        <div class="form_block">
                            <input type="hidden" name="next" value="{{ request.path }}" />
                            <input type="submit" value="{% trans "Post Response" %}" />
                        </div>
                        <span class="hidden">{{ form.honeypot }}</span>
                    </fieldset>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>

{% paginate %}

{% if user.is_authenticated %}
    {% get_comment_form for object as form %}
    <form class="uniForm" action="{% comment_form_target %}" method="POST">
        <fieldset class="inlineLabels">
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            {{ form.parent }}
            <div class="ctrlHolder">
                <label for="id_comment">* {% trans "Comment" %}</label>
                {{ form.comment }}
            </div>
            <div class="form_block">
                <input type="hidden" name="next" value="{{ request.path }}" />
                <input type="submit" value="{% trans "Post Response" %}" />
            </div>
            <span class="hidden">{{ form.honeypot }}</span>
        </fieldset>
    </form>
{% else %}
    <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment</h3>
{% endif %}