<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head></head>
<body>

{{ request.COOKIES }}

{# @@@ append locale for other languages, e.g. http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/es_LA #}
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>

<fb:login-button></fb:login-button>

<script type="text/javascript">
    {# @@@ pull API key from settings? #}
    FB.init("{{ FACEBOOK_API_KEY }}", "{% url facebook-xd-receiver %}");
</script>

<a id="logout" href="/test/" onclick='FB.Connect.ifUserConnected(null,function() { window.location = "/test/" }); FB.Connect.logoutAndRedirect("/test/"); return false;'>Sign out</a>

</body>
</html>